NODE_ENV = 'development'

PORT = 8080

DB_URI ''

#! cloudinary

CLOUDINARY_CLOUD_NAME = 'cloud_name'
CLOUDINARY_API_KEY = 'api_key'
CLOUDINARY_API_SECRET = 'secret_key'

#!jwt
JWT_SECRET = 'sdhfudh555afka4552'
JWT_EXPIRY_IN = '7d'

#! cookies
COOKIE_EXPIRY = 7


#! smtp / email
SMTP_HOST = 'smpt.gmail.com'
SMTP_PORT = 465
SMPT_SERVICE = 'gmail'
SMPT_USER = ''
SMPT_PASS = ''
SMPT_MAIL_FROM = ''